<html ng-app="homeApp">
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="angular-material/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>
    <body ng-controller="AppCtrl">
        <md-toolbar>
            <h2 class="md-toolbar-tools">
                <span flex="60">Leap Motion</span>
                <span flex="20">Upload</span>
                <span flex="20">Log out</span>
            </h2>
        </md-toolbar>
        Hello World
        <md-button class="md-raised">Hello</md-button>

        <script src="angular/angular.js"></script>
        <script src="angular-route/angular-route.min.js"></script>
        <script src="angular-animate/angular-animate.min.js"></script>
        <script src="angular-aria/angular-aria.min.js"></script>
        <script src="angular-material/angular-material.js"></script>
        <script src="javascripts/app.js"></script>
    </body>
</html>
