<html ng-app="homeApp">
    <head>
        <title>Leap Learn - Learn Essential Skills With Leap Motion</title>
        <link rel="stylesheet" href="angular-material/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link href="stylesheets/style.css" rel="stylesheet"/>
    </head>
    <body ng-controller="AppCtrl">
        <md-toolbar class="md-primary">
            <h2 class="md-toolbar-tools">
                <span flex="60">Leap Learn</span>
                <span flex="20"><a href="#/upload">Upload</a></span>
                <span flex="20">Log out</span>
            </h2>
        </md-toolbar>
        <div ng-view></div>
        <script src="angular/angular.js"></script>
        <script src="angular-route/angular-route.min.js"></script>
        <script src="angular-animate/angular-animate.min.js"></script>
        <script src="angular-aria/angular-aria.min.js"></script>
        <script src="angular-material/angular-material.js"></script>
        <script src="javascripts/app.js"></script>
    </body>
</html>
