<html ng-app="homeApp">
    <head>
        <title>Leap Learn - Learn Essential Skills With Leap Motion</title>
        <link rel="stylesheet" href="angular-material/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link href="stylesheets/style.css" rel="stylesheet"/>
    </head>
    <body ng-controller="UpCtrl">
        <md-toolbar class="md-primary">
            <h2 class="md-toolbar-tools">
                <span flex="80"><a href="/">Leap Learn</a></span>
                <span flex="10" class="dummy">Tutorials</span>
                <span class="dummy">Log out</span>
            </h2>
        </md-toolbar>
        <div class="container ng-scope" layout="column" layout-align="center center">

            <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center">
                <md-button ng-click="record()" class="md-primary">Start Recording...</md-button>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z1" layout="column">

                <h3>Basic Info</h3>

                <div layout="" layout-sm="column">
                    <md-input-container flex="" class="md-default-theme">
                        <label for="input_008">Title</label>
                        <input ng-model="title" class="ng-pristine ng-untouched ng-valid md-input" id="input_008" tabindex="0" aria-invalid="false">
                    </md-input-container>
                </div>


                <md-input-container flex="" class="md-default-theme">
                    <label for="input_009">Uploader's Name</label>
                    <input ng-model="who" class="ng-pristine ng-untouched ng-valid md-input" id="input_009" tabindex="0" aria-invalid="false">
                </md-input-container>


                <md-input-container flex="" class="md-default-theme">
                    <label for="input_00A">Add Tags #</label>
                    <input class="ng-pristine ng-untouched ng-valid md-input" id="input_00A" tabindex="0" aria-invalid="false">
                    <div class="md-placeholder">Example: sign language, piano, guitar ...</div></md-input-container>

                <md-input-container flex="" class="md-default-theme">
                    <label for="input_00B">Description</label>
                    <textarea ng-model="notes" columns="1" md-maxlength="150" class="ng-pristine ng-untouched ng-valid md-input ng-valid-md-maxlength" id="input_00B" ng-trim="false" aria-multiline="true" tabindex="0" aria-invalid="false" style="height: 56px;"></textarea>
                    <div class="md-char-counter">0/150</div></md-input-container>

                <md-button class="md-raised md-primary" style="padding: 15px;" ng-click="submit()">Upload</md-button>

                <md-button class="md-fab md-accent" aria-label="Use Android" style="color: white;position: absolute;left: 7%;bottom: 10%;" ng-click="back()">
                    <md-tooltip>Back to Home</md-tooltip>
                    <md-icon md-svg-src="images/last-track.svg"></md-icon>
                </md-button>
            </md-whiteframe>
            <script src="angular/angular.js"></script>
            <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
            <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
            <script src="angular-route/angular-route.min.js"></script>
            <script src="angular-animate/angular-animate.min.js"></script>
            <script src="angular-aria/angular-aria.min.js"></script>
            <script src="angular-material/angular-material.js"></script>
            <script src="javascripts/app.js"></script>

    </body>
</html>
