html, body {
    background-color: #eee;
    height: 100vh;
}
md-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
    width: 70%;
}
.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
}
md-item-content:hover {
    background-color: #e8eaf6;
    cursor: pointer;
}
#uploadButton {
    color: white;
    position: absolute;
    right: 7%;
    bottom: 10%;
}
.watchCards {
    margin: 3px;
}
watchTitle {
    padding: 0px;
    margin: 0px;
}
.thumb {
    width: 20px;
    padding-left: 5px;
    cursor: pointer;
}
hr {
    color: #3949ab;
    background-color:  #3949ab;
    height: 1px;
    border: 1px;

}
.title {
    color: #3949ab;
}
.thumbBlock {
    margin-left: 8px;
}
#watchWindow {
    height: 500px; !important
}